<h3 align="center">Feature Engeneering 3</h3>
<h1 align="center">MONTHS</h1>

### Imports

In [1]:
import pandas as pd

### Constants

In [2]:
ENGLISH = True

DATA_RUS_PATH = "../DATA/1. Original data Russian (96Mb)/"
DATA_ENG_PATH = "../DATA/2. Translated data English (1Mb)/"
DATA_FE_PATH  = "../DATA/3. Feature Engeneering/"
DATA_SUB_PATH = "../DATA/5. Submissions/"

### Load data

In [3]:
# None

### Create time data

In [4]:
dates = pd.DataFrame(data={'date':pd.date_range(start='2013-01-01', end='2015-11-30')})

### Create feats

In [5]:
dates['month']          = dates.date.dt.month 
dates['year']           = dates.date.dt.year - 2013
dates["day_of_week"]    = dates.date.dt.dayofweek + 1
dates["day_of_month"]   = dates.date.dt.day
dates['day_of_year']    = dates.date.dt.dayofyear
dates["day_of_history"] = dates.day_of_year + (365 * dates.year)
dates['date_block_num'] = dates['year']*12 + dates['month'] - 1

dates.set_index('date', inplace=True)

dates

,month,year,day_of_week,day_of_month,day_of_year,day_of_history,date_block_num
date,,,,,,,
2013-01-01,1,0,2,1,1,1,0
2013-01-02,1,0,3,2,2,2,0
2013-01-03,1,0,4,3,3,3,0
2013-01-04,1,0,5,4,4,4,0
2013-01-05,1,0,6,5,5,5,0
...,...,...,...,...,...,...,...
2015-11-26,11,2,4,26,330,1060,34
2015-11-27,11,2,5,27,331,1061,34
2015-11-28,11,2,6,28,332,1062,34
2015-11-29,11,2,7,29,333,1063,34
2015-11-30,11,2,1,30,334,1064,34

In [6]:
dates.agg(["min", "max"]).T

                min   max
month             1    12
year              0     2
day_of_week       1     7
day_of_month      1    31
day_of_year       1   365
day_of_history    1  1064
date_block_num    0    34

### Aggregate by date_block_num (month from 0 to 34)

In [7]:
days_of_week = ["#mon", "#tue", "#wed", "#thu", "#fri", "#sat", "#sun"]

months = dates.groupby(["date_block_num", "day_of_week"]).size().unstack()
months.columns = days_of_week
months["#sat+sun"] = months["#sat"] + months["#sun"]

months["#days"] = months[days_of_week].sum(1)
months["month_id"]   = months.index%12 + 1
months

,#mon,#tue,#wed,#thu,#fri,#sat,#sun,#sat+sun,#days,month_id
date_block_num,,,,,,,,,,
0,4,5,5,5,4,4,4,8,31,1
1,4,4,4,4,4,4,4,8,28,2
2,4,4,4,4,5,5,5,10,31,3
3,5,5,4,4,4,4,4,8,30,4
4,4,4,5,5,5,4,4,8,31,5
5,4,4,4,4,4,5,5,10,30,6
6,5,5,5,4,4,4,4,8,31,7
7,4,4,4,5,5,5,4,9,31,8
8,5,4,4,4,4,4,5,9,30,9
9,4,5,5,5,4,4,4,8,31,10
10,4,4,4,4,5,5,4,9,30,11
11,5,5,4,4,4,4,5,9,31,12
12,4,4,5,5,5,4,4,8,31,1
13,4,4,4,4,4,4,4,8,28,2
14,5,4,4,4,4,5,5,10,31,3
15,4,5,5,4,4,4,4,8,30,4
16,4,4,4,5,5,5,4,9,31,5
17,5,4,4,4,4,4,5,9,30,6
18,4,5,5,5,4,4,4,8,31,7
19,4,4,4,4,5,5,5,10,31,8
20,5,5,4,4,4,4,4,8,30,9
21,4,4,5,5,5,4,4,8,31,10
22,4,4,4,4,4,5,5,10,30,11
23,5,5,5,4,4,4,4,8,31,12
24,4,4,4,5,5,5,4,9,31,1
25,4,4,4,4,4,4,4,8,28,2
26,5,5,4,4,4,4,5,9,31,3
27,4,4,5,5,4,4,4,8,30,4
28,4,4,4,4,5,5,5,10,31,5
29,5,5,4,4,4,4,4,8,30,6
30,4,4,5,5,5,4,4,8,31,7
31,5,4,4,4,4,5,5,10,31,8
32,4,5,5,4,4,4,4,8,30,9
33,4,4,4,5,5,5,4,9,31,10
34,5,4,4,4,4,4,5,9,30,11

### Save

In [9]:
months.to_csv(DATA_FE_PATH + "MONTHS.csv")